{% extends "template/layout.twig" %}

{% block page %}
    <div class="content">
        <div class="wrapper">
            <div class="content__title">Welcome !</div>
            <div class="content-sub-title__wrapper">
                <div class="content__sub-title">Vue HTML PostCSS</div>
            </div>
            <div class="content-clocks">
                <clocks></clocks>
            </div>
            <carousel>
                <slide>
                    Slide 1 Content
                </slide>
                <slide>
                    Slide 2 Content
                </slide>
            </carousel>
        </div>
    </div>
{% endblock %}