{% extends "template/layout.twig" %}

{% block page %}
    <div class="content">
        <div class="wrapper">
            <t-animation></t-animation>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="content-sub-title__wrapper">
                            <div class="content__sub-title">Vue HTML PostCSS</div>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="content-sub-title__wrapper">
                            <div class="content__sub-title">Template</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-clocks">
                <clocks></clocks>
            </div>
        </div>
    </div>
{% endblock %}